@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.avaliacoes-page {
    width: 100% !important;
    height: auto !important;
    background-color: #F2F2F2 !important;
}

.titulo {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2 !important;
    padding: 30px;
}

.page-titulo{
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #464255;   
    
}

.login {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.perfil-img {
    width: 90px;
    height: 90px;
}

.page-titulo h1 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 38px;
    font-weight: 700;
}

.page-titulo p {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #A3A3A3;
}

.login p {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #464255
}

.login span {
    font-weight: 500;
}

.sessao-avaliacoes {
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #F2F2F2;
  }  

.avaliacao-card {
    background-color: #ffffff;
    width: 35%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    margin-bottom: 40px;
}

.card2 {
    width: 50%;
}

.comida {
    width: 300%;
}  

.avaliacao-header {
    width: 60%;
    display: flex;
    justify-content: space-around;
}
.avaliacao-perfil {
    width: 80px;
    height: 80px;
}

.avaliacao-texto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avaliacao-texto h2 {
    color: #464255; 
}

.avaliacao-texto p {
    color: #A3A3A3;
}

.card1{
    width: 90%;
    font-size: 18px;
    margin-left: 15px;
}

.starOrange {
    color: #F7C604;
    width: 20px;
    height: 20px;
    border: none;
}

.starGray {
    color: #B9BBBD;
    width: 20px;
    height: 20px;
    border: none;
}

.avaliacao-nota {
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    width: 35%;
}

@media (max-width: 1700px) {
.sessao-avaliacoes {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  
.avaliacao-card {
    width: 80%;
    height: auto;
}

.card2 {
    display: none;
}

.card1 {
    width: 95%;
}
.avaliacao-header {
    width: 30%;
}
.sessao-avaliacoes {
    margin-bottom: 100px;
}

.ultimo {
    margin-bottom: 150px;
}

}

@media (max-width: 933px) {
    .login {
        display: none;
    }
    .page-titulo{
        display: flex;
        justify-content: center;
        align-items: center;  
    }
}

@media (max-width: 900px) {
.avaliacao-perfil{
    display: none;    
}
.avaliacao-header{
    margin-left: 15px;
    margin-top: 15px;
}
.avaliacao-nota {
    width: 60%;
}
}