.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 3;
  }

  .new-container {
    width: 100%;
    height: 100vh;
  }

  .page {
    width: 75%;
    height: 100%;
  }

  .navbar-container{
    width: 25%;
    height: 100%;
  }

  .icons {
    width: 20px;
    height: 20px;
    padding-left: 20%;
  }

  .logo {
    width: 80%;
    margin-bottom: 20px;
  }

  .card-ifood {
    width: 90%;
    margin-top: 70px;
  }

  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .nav-item {
    width: 85%;
    padding: 15px;
    cursor: pointer;
    border-radius: 9px;
    transition: background-color 0.3s;
  }
  
  .nav-item:hover {
    background-color: rgba(234, 29, 44, 0.15);
  }
  
  .nav-item.selected {
    background-color: rgba(234, 29, 44, 0.15);
    color: #EA1D2C;
  }
  
  .nav-item.selected span {
    color: #EA1D2C;
    font-size: 19px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
  }
  
  .nav-item span {
    color: #464255;
    font-size: 19px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
  }
  
  @media (max-width: 1660px) {
    .navbar {
        position: fixed !important;
        bottom: 0 !important;
        left: 0;
        width: auto;
        top:auto;
        height: 14%;
        padding-top: 0px;
      }
      .logo {
        display: none;
        margin-bottom: 0px;
      }
      .nav-item span {
        display: none;
      }
      .nav-links {
        display: flex;
        flex-direction:row;
        justify-content: space-around;
        align-items: center;
        gap: 0;
      }
      .nav-item {
        width: auto;
      }
      .card-ifood {
        display: none;
        margin-top: 0px;
      }
      .icons {
        width: 40px;
        height: 40px;
      }
      .page {
        width: 100%;
      }
      .navbar-container{
        width: auto;
      }
  }